<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Chamado</title>
</head>
<body>
    <h1>Formulário de Chamado</h1>
    <form method="post" action="persist">
        <label >Natureza do chamado:</label>
        <select name="type">
            <option value="doubts">Dúvida</option>
            <option value="problem_solving">Resolução de Problemas</option>
        </select>
        <br><br>
        <label >Descrição:</label>
        <input name="description">
        <br><br>
        <label >Provedor do serviço:</label>
        <select name="sgdb">
            <option value="PG">A</option>
            <option value="MG">B</option>
            <option value="MD">C</option>
        </select>
        <br><br>
        aa
        
        <input type="submit" value="Enviar">
    </form>
</body>
</html>

